* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
}

body {
    background-color: rgb(86, 86, 86);
    color: aliceblue;
}

.container {
    max-width: 1200px;
}

form {
    margin: auto;
    max-width: 40%;
}

form>label{
    margin-top: 30px;
}

.form-check,
button {
    margin-top: 20px;
}

.btn-center {
    width: 100%;
}